[req]
prompt                      = no
default_bits                = 2048
distinguished_name          = req_distinguished_name
req_extensions              = req_ext
[req_distinguished_name]
C                           = US
ST                          = New Hampshire
L                           = Hanover
O                           = Dartmouth College
CN                          = docker-demo.edu
[req_ext]
subjectAltName = @alt_names
[alt_names]
DNS.1 = docker-demo.edu
DNS.2 = *.docker-demo.edu
